<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/about.css') }}">
</head>
<body>
    <div class="about">
        <div class="inner-section">
            <h1>ABOUT US</h1>
            <p class="text">
                Suvidha Mahila Mandal is a non-profit organization working to impart education among the financially challenged sections to help them realize parity in education and strength of little minds in building a promising future. The organization has provisions of student internships, student mentorship and the scope to volunteer. Through these programmes, the organization aims to achieve the vision of imparting innovative education that stays with the students forever and equip them for the unforeseen future.

            </p>
            <div class="skills">
                <button onclick="location.href='contact.html'" style='margin-right:16px'>Contact Us</button>
                <button onclick="location.href='/'" style='margin-right:16px'>Home Page</button>
            </div>
        </div>
    </div>
</body>
</html>