<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Summarization</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="menu">
          <h3 class="logo">Suvidha<span> Foundation</span></h3>
          <div class="hamburger-menu">
            <div class="bar"></div>
          </div>
        </div>
      </div>

      <div class="main-container">
        <div class="main">
          <header>
            <div class="overlay">
              <div class="inner">
                <h2 class="title">Video Summarization</h2>
                <p>
                  The aim of this project is to make a video sumarrization application
                  which summarize a video in short duration video including timestamp of important
                  frames and also to output the keyframes of that video.
                </p>
                <a href="service.html"><button class="btn">Try It</button></a>
              </div>
            </div>
          </header>
        </div>

        <div class="shadow one"></div>
        <div class="shadow two"></div>
      </div>

      <div class="links">
        <ul>
          <li>
            <a href="#" style="--i: 0.05s;">Home</a>
          </li>
          <li>
            <a href="service.html" style="--i: 0.1s;">Service</a>
          </li>

          <li>
            <a href="about.html" style="--i: 0.25s;">About</a>
          </li>
          <li>
            <a href="contact.html" style="--i: 0.3s;">Contact</a>
          </li>
        </ul>
      </div>
    </div>

    
    <script type="text/javascript" src="{{ url_for('static',filename='script/main.js') }}"></script>
  </body>
</html>